<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>泰禾文化大赛</title>
    <link rel="stylesheet" href="/libs/bootstrap4/css/bootstrap.min.css">
    <style>
        .container {
            padding-top: 24px;
        }

        .data-table {
            margin-top: 12px;
        }
    </style>
</head>
<body>
<div id="app" class="container">
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary" @click="exportData()">导出</button>
            <table class="table table-bordered table-sm data-table ">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">序号</th>
                    <th scope="col">参赛活动</th>
                    <th scope="col">姓名</th>
                    <th scope="col">性别</th>
                    <th scope="col">年龄</th>
                    <th scope="col">参赛通道</th>
                    <th scope="col">所在小区/工作单位/公司名称</th>
                    <th scope="col">联系电话</th>
                    <th scope="col">作品名称</th>
                    <th scope="col">得票</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in dataList" :key="index">
                    <td>{{index + 1}}</td>
                    <td>{{getContestName(item.type)}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.age}}</td>
                    <td>{{getContestChannel(item.playerType)}}</td>
                    <td>{{item.address||item.company}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.workName}}</td>
                    <td>{{item.vote}}</td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" v-if="loading">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/libs/vue.js"></script>
<script src="/libs/axios.min.js"></script>
<script src="/libs/jquery.slim.min.js"></script>
<script src="/libs/bootstrap4/js/bootstrap.bundle.min.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            loading: true,
            dataList: []
        },
        mounted: function () {
            axios.get("/api/qinhe/culture/listAll").then(resp => {
                var data = resp.data;
                if (data.code == 0 && data.data != null) {
                    this.dataList = data.data;
                } else {
                    alert(data.message);
                }
            }).catch(resp => {
                alert("failed " + resp.status + ":" + resp.statusText);
            }).finally(() => {
                this.loading = false;
            });
        },
        methods: {
            exportData: function () {
                window.open("/api/qinhe/culture/export");
            },
            getContestName: function(type) {
                if (type == 1) {
                    return "美术书法大赛";
                }
                if (type == 2) {
                    return "小小演说家";
                }
                if (type == 3) {
                    return "诗词朗诵";
                }
                return null;
            },
            getContestChannel: function(playerType) {
                if (playerType == 1) {
                    return "业主";
                }
                if (playerType == 2) {
                    return "媒体";
                }
                if (playerType == 3) {
                    return "员工";
                }
                return null;
            }
        }
    })
</script>
</body>
</html>